<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>

  <div class="uk-navbar-left">
    <a class="uk-navbar-item uk-logo" href="#">Health Plus</a>
  </div>
  
  <div class="uk-navbar-right">    
    <ul class="uk-navbar-nav">
      <li>
        <a href="#">Products</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li><a href="#">Medicines</a></li>
            <li><a href="#">Diets & Supplements</a></li>
            <li><a href="#">Bodycare</a></li>
            <li><a href="#">Health & Fitness</a></li>
          </ul>
        </div>
      </li>

      <li>
        <a href="#">Services</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li><a href="#">Yoga Trainer</a></li>
            <li><a href="#">Personal Trainer</a></li>
            <li><a href="#">Home Masseur</a></li>
            <li><a href="#">Home Testing</a></li>
          </ul>
        </div>
      </li>

      <li>
        <a href="#">Ambulance</a>
      </li>

      <li>
        <a href="#">Nearby Hospitals</a>
      </li>

      <li>
        <a href="#">Blog</a>
      </li>

      <li>
        <a href="#">Testimonials</a>
      </li>

      <li>
        <a href="#">Contact Us</a>
      </li>

      <li>
        <a href="#">Login | Signup</a>
      </li>

    </ul>
  </div>
    
</nav>

<!-- <nav class="blue">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Health Plus</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      
      <ul class="right hide-on-med-and-down">
        <li><a href="/products">Products</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/testimonials">Testimonials</a></li>
        <li><a href="/hospitals">Nearby Hospitals</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/login">Login | Signup</a></li>
      </ul>
      
      <ul class="right">
        <li>  
          <div class="nav-wrapper">
            <form>
              <div class="input-field">
                <input id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons search-icon">search</i></label>
              </div>
            </form>
          </div>
        </li>
      </ul>
      
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/products">Products</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/testimonials">Testimonials</a></li>
        <li><a href="/hospitals">Nearby Hospitals</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/login">Login | Signup</a></li>
      </ul>
    </div>
  </nav> -->