<%- layout('layout') -%>
<h1>blog</h1>
<div class="uk-container">
<h2>HLTH & Healthcare — My tweetstorm on the HLTH conference</h2>
<p class="blog-text">
    This week was the very flash, very well marketed and apparently rather fun HLTH conference. As you might guess, given I’ve run a somewhat similar conference in a similar space for the past decade and this was the biggest market entrant in years, I was paying alot of attention, even though I wasn’t actually there. So I started writing a few tweets yesterday morning which basically became the equivalent of a blog post–so I made it one here!

    Since the fuss about & success of #HLTH2018 I’ve been thinking a lot about the role of health tech conferences and in some ways @HLTHEVENT is a perfect metaphor for the health care system as a whole  /1
    Bear in mind I co-founded & still am co-chair of @health2con which when it started was regarded as revolutionary & different – so this is tinged with professional envy. Also bear in mind that I was at #ythlive this week so didn’t actually go to Vegas. So grains of salt /2
    What @HLTHEVENT did was convince virtually every CEO who’s ever presented at @health2con @WHCCevents @hdpalooza etc over the past decade to come speak in Vegas at an unknown conference–albeit one that had a ton of money to burn, and great connections via VC @oakhcft /3
    Given the crap I’ve received over the years from certain CEOs who only want to keynote @health2con & were instead asked to be on a panel, or worse were put in a break out, I’m amazed they pulled it off. But they did & it seems all were happy /4
    OK, here’s the metaphor part. Once #HLTH2018 achieved essentially a “health tech co CEO monopoly” (for 4 days in one place), they were able to act like a health system that’s done the same thing with its providers & hospitals (cough cough @UPMC @SutterHealth et al)  /5
    
    There was an abundance of marketing before and during #HLTH2018 (roadside billboards, massive web advertising), tons of new technology (400 speakers got their own moving caricature, high end back screens more akin to the Grammys or stadium rock show) but same basic format /6
    And like #HLTH2018 the health care system as a whole loves marketing its “transformation”, loves its flashy new technologies (MRIs –> CyberKnives –> Robotic surgery), but fundamentally hasn’t changed its structure, process or product in 80 years /7
    Also the list price at #HLTH2018 for a large conference was 2 x that of @health2con & 3 x that of @HIMMS (albeit no food included there), on the way to @TEDMED @ExponentialMed or @hepsummit /8
    And in health care, new fancy buildings, tech, drugs and services also raise the average price /9
    minor promotional note — at @health2con Fall conference this year we have reduced the price as we’re trying to get more “regular” hc people there /10
    Back to #HLTH2018 — while the agenda/lineup was great, the format was #manels (will get back to that), speed dating of VCs/providers/startups, and hackathons. All done v. Well but not exactly news /11
    What wasn’t there at #HLTH2018? Well as @halletecco pointed out, only 18% of speakers were women, and I’m sure the % of CEOs who were women once you take out journalists, VCs etc was way lower /12
    Who else wasn’t there. As tech CEO/COO @ThePatientsSide noted, no patients on stage at all. I know it’s hard & @HLTHEVENT isn’t trying to be @StanfordMedX or even #Patients2.0, but hard to imagine the “future of healthcare” with no patients /13
    Last in what wasn’t there was live tech on stage–particularly in the 4 minute demo format. Good! I don’t want anyone to compete with @health2con on that! But it also means few new/small innovators in the limelight compared to Blue Cross CEOs (still love ya @GanzMark!) 14
    So the question of whether there’s room for a new kid on the health conference block has been answered. But unless there’s voodoo accounting going on, #HLTH2018 lost a ton of money /15 (more later)
    Traditional new conferences start small & make money, then grow incrementally. Sometimes that takes a looooong time–@HIMSS took 25 years to get to 3,000 people /16
    That’s a metaphor for the wider health care system. It takes 25 years for apparently anything to incrementally change & often disruptive change fails (e.g capitated med groups in 90s)  /17
    @HLTHEVENT is trying the @amazon /Silicon Valley approach. Grow fast, lose money, take market share and make profit later. Of course anyone who has tried that in health care has basically failed /18
    And I can’t tell if it’s ignorance or an inside joke homage but the very name HLTH is the same as the stock ticker of the 90s poster child for that approach. Healtheon was going to revolutionize health care, even had a Michael Lewis book about it /19
    Of course the ultimate impact of all that hubris was a consumer website @webmd full of generic information that you can get in lots of places (including from the Feds) spread over multiple pages to maximize drug advertising /20
    So what about #HLTH2018? Is it a brilliantly marketed, well executed event that’s designed to be flipped to the highest bidder on 2-3 years? Previous history from the @money2020 team suggests so /21
    Or is it going to really help catalyze or reflect a significant change in how health care works? You don’t have to be as depressed as @VentureValkyrie or @jayparkinson to realize that we are still a long way from any realistic transformation. /22
    In some ways the signature announcement from #HLTH2018 was that a major Democratic health figure @ASlavitt (of whom I’m a big fan) started a VC firm to invest in services for the poor & underserved. Think about that. (Oh & bizarrely it’s named the same as a right wing blog!) /23
    Now even that isn’t a new idea , @chcfinnovations has been doing it for nearly a decade. But it’s an long odds bet that venture money will fix the health experience of the poor & underserved /24
    So take it from someone who has been watching this for 30 years. At some point I HOPE the weight of technology & new models will sweep away the current health system. But there are no guarantees  /25
    I’ll end with #HLTH, not @HLTHEVENT but the CEO who took Healtheon public in 1998. Mike Long was interviewed at @health2con 6 years ago. /26
    He said that his new company @Lumeris was designed to change the system quickly as he was in his 60s and he saw his personal use of health care was going to skyrocket /27
    So hopefully @HLTHEVENT & the rest of us are going to really move the needle on the former HLTH CEO’s future health care experience. And the experience for everyone else. /28
    But we are still a long way from that transformation being real for most of us. And far too many players in health care (as @GanzMark reminds us) are only in it for the $$ /29
</p>
</div>