<%- layout('layout') -%>
<h2>Home testing</h2>
<div class="uk-container">
	<div class="uk-child-width-1-4@m" uk-grid>
    	<% for (var i = 0; i < services.length; i++) { %>	
    	<div>
        	<div class="uk-card uk-card-default uk-card-hover">
	            <div class="uk-card-media-top">
	                <img src=<%= services[i].image %> ">
	            </div>
	            <div class="uk-card-body">
                	<h3 class="uk-card-title"><%= services[i].firstName %></h3>
                	<button class="uk-button uk-button-danger">Rs <%= services[i].price %></button>
            	</div>
        	</div>
    	</div>
    	<% } %>
    </div>
</div> 