<%- layout('layout') -%>
<div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-item red white-text" href="#one!">
      <h2>User Products</h2>
      <p class="white-text">This pannel tells about the user products</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2>Doctor Service</h2>
      <p class="white-text">This pannel tells about the Doctors</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>Professional Service</h2>
      <p class="white-text">This pannel tells about the Professionals</p>
    </div>
  </div>