<%- layout('layout') -%>
<!-- ------------carousel--------------- -->
<div class="uk-position-relative uk-visible-toggle uk-light carousel" uk-slideshow="autoplay:true; 								autoplay-interval:8000; ratio: 7:3; animation: fade">

    <ul class="uk-slideshow-items">
        <li>
            <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                <img src="assets/light.jpg" alt="" uk-cover>
            </div>
             <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                <h3 class="uk-margin-remove">Users</h3>
                <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </li>
        <li>
            <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-top-right">
                <img src="assets/amb.jpg" alt="" uk-cover>
            </div>
            <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                <h3 class="uk-margin-remove">Doctors</h3>
                <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </li>
        <li>
            <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-bottom-left">
                <img src="assets/background.jpeg" alt="" uk-cover>
            </div>
            <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                <h3 class="uk-margin-remove">Professionals</h3>
                <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
</div>
<!-- ======================================== -->

<!-- ===============products================ -->
<div class="products">
	<h3 class="uk-h3">PRODUCTS</h3>
	<div class="uk-child-width-1-4@m" uk-grid>
    	<div>
        	<div class="uk-card uk-card-default uk-card-hover">
	            <div class="uk-card-media-top">
	                <img src="assets/landing/medicine.svg" alt="Medicines">
	            </div>
	            <div class="uk-card-body">
                	<h3 class="uk-card-title">Medicines</h3>
                	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt.</p>
            	</div>
        	</div>
    	</div>
    	<div>
        	<div class="uk-card uk-card-default uk-card-hover">
	            <div class="uk-card-media-top">
	                <img src="assets/landing/protein.svg" alt="Diets & Supplements">
	            </div>
	            <div class="uk-card-body">
                	<h3 class="uk-card-title">Diet & Supplements</h3>
                	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt.</p>
            	</div>
        	</div>
    	</div>
    	<div>
        	<div class="uk-card uk-card-default uk-card-hover">
	            <div class="uk-card-media-top">
	                <img src="assets/landing/cream.svg" alt="Body care">
	            </div>
	            <div class="uk-card-body">
                	<h3 class="uk-card-title">Body Care</h3>
                	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt.</p>
            	</div>
        	</div>
    	</div>
    	<div>
        	<div class="uk-card uk-card-default uk-card-hover">
	            <div class="uk-card-media-top">
	                <img src="assets/landing/dumbbell.svg" alt="Health & Fitness">
	            </div>
	            <div class="uk-card-body">
                	<h3 class="uk-card-title">Health & Fitness</h3>
                	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt.</p>
            	</div>
        	</div>
    	</div>
	</div>

</div>
<!-- ============================================= -->
<hr class="uk-divider-icon">
<!-- ===========================services============================ -->
<div class="services">
	<h3 class="uk-h3">SERVICES</h3>
	<div class="uk-child-width-1-4@m" uk-grid>
    	<div>
        	<div class="uk-card uk-card-default uk-card-hover">
	            <div class="uk-card-media-top">
	                <img src="assets/landing/yoga.svg" alt="Yoga Trainer">
	            </div>
	            <div class="uk-card-body">
                	<h3 class="uk-card-title">Yoga Trainer</h3>
                	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt.</p>
            	</div>
        	</div>
    	</div>
    	<div>
        	<div class="uk-card uk-card-default uk-card-hover">
	            <div class="uk-card-media-top">
	                <img src="assets/landing/physiotherapy.svg" alt="Personal Trainer">
	            </div>
	            <div class="uk-card-body">
                	<h3 class="uk-card-title">Personal Trainer</h3>
                	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt.</p>
            	</div>
        	</div>
    	</div>
    	<div>
        	<div class="uk-card uk-card-default uk-card-hover">
	            <div class="uk-card-media-top">
	                <img src="assets/landing/massage.svg" alt="Home Masseur">
	            </div>
	            <div class="uk-card-body">
                	<h3 class="uk-card-title">Home Masseur</h3>
                	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt.</p>
            	</div>
        	</div>
    	</div>
    	<div>
        	<div class="uk-card uk-card-default uk-card-hover">
	            <div class="uk-card-media-top">
	                <img src="assets/landing/test-tubes.svg" alt="Home Testing">
	            </div>
	            <div class="uk-card-body">
                	<h3 class="uk-card-title">Home Testing</h3>
                	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt.</p>
            	</div>
        	</div>
    	</div>
	</div>

</div>
<!-- ======================================= -->
<!-- =======================ambulence========================== -->
