<%- layout('layout') -%>
<div class="text-center product-info">
    <a href="/auth/google" class="login-button">
        <button class="uk-button uk-button-large">
            <i class="fab fa-google button-icon"></i> Google
        </button>
    </a>
</div>