<%- layout('layout') -%>
<h2 class="uk-heading-line uk-text-center"><span>Login</span></h2>
<form class="login-form uk-form-stacked">
  <div class="uk-margin">
    <!-- <label class="uk-form-label" for="email">E-Mail</label> -->
    <div class="uk-inline uk-form-controls">
      <span class="uk-form-icon" uk-icon="icon: mail"></span>
      <input class="uk-input" id="email" type="text">
    </div>
  </div>

  <div class="uk-margin">
    <!-- <label class="uk-form-label" for="password">Password</label> -->
    <div class="uk-inline uk-form-controls">
      <span class="uk-form-icon uk-form-icon" uk-icon="icon: lock"></span>
      <input class="uk-input" id="password" type="password">
    </div>
  </div>

  <div class="uk-margin">
    <div class="uk-inline">
      <button class="uk-button uk-button-primary">Login</button>
    </div>
  </div>

  <div class="uk-margin">
    <div class="uk-inline">
      <p>Don't have an account?
        <button class="uk-button uk-button-text"><a href="/signup">Signup</a></button>
      </p>
    </div>
  </div>
</form>