#search {
  width: 0px;
  transition: 300ms ease-in-out;
}

#search:focus {
  width: 300px;
}

.search-icon {
  position: relative;
  top: -10px;
}

.carousel {
  padding: 0px;
  margin: 0px;
}

.carousel-one > img {
  background: lightblue;
}
.carousel-two > img {
  background: lightcoral
}
.carousel-three > img {
  background: lightgray;
}