body{
	padding: 0;
	margin: 0;
	background-color: #FEFBF7;
}
.hamburger {
  padding-right: 20px;
}
.products{
	padding: 40px;
	background-color: #dcdcdc;
}
.uk-h3,.uk-card-body{
	text-align: center;
}
.services{
	padding: 40px;
	background-color: #FEFBF7;
}