/* navbar */
.navbar-login-button > a > button {
	border: 2px solid #BDBDBD;
	border-radius: 5px;
}

.navbar-login-button > a > button:hover, .navbar-login-button > a > button:active {
	border: 2px solid #90CAF9;
	color: #90CAF9;
}

.hamburger {
  padding-right: 20px;
}

/* landing page */
body{
	padding: 0;
	margin: 0;
	background-color: #FEFBF7;
}

.carousel > ul{
	height: 60vh !important;
}

.products{
	padding: 40px;
	background-color: #dcdcdc;
}

.uk-h3,.uk-card-body{
	text-align: center;
}

.services{
	padding: 40px;
	background-color: #FEFBF7;
}

/* login/signup page */
.uk-button-text > a, .uk-button-text > a:hover, .uk-button-text > a:active {
	color: black;
	text-decoration: none;
}

.login-form {
	text-align: center;
}

.signup-form {
	text-align: center;
}

.hidden {
	display: none;
}

.signup-svg > img {
	width: 100px;
	height: 100px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.signup-svg > img:hover, .signup-svg > img:active {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	cursor: pointer;
}

.signup-selected-gender, .signup-selected-type {
	-webkit-filter: grayscale(0%) !important;
	filter: grayscale(0%) !important;
	animation: genderSelect 0.3s ease-in-out forwards;
}

@keyframes genderSelect {
	25% {
		transform: rotate(20deg);
	}
	50% {
		transform: rotate(-20deg);
	}
	75% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
