/* navbar */
.navbar-login-button > a > button {
	border: 2px solid #BDBDBD;
	border-radius: 5px;
}

.navbar-login-button > a > button:hover, .navbar-login-button > a > button:active {
	border: 2px solid #90CAF9;
	color: #90CAF9;
}

.hamburger {
  padding-right: 20px;
}

/* landing page */
body{
	padding: 0;
	margin: 0;
	background-color: #FEFBF7;
}

.carousel > ul{
	height: 60vh !important;
}

.products{
	padding: 40px;
	background-color: #dcdcdc;
}

.uk-h3,.uk-card-body{
	text-align: center;
}

.services{
	padding: 40px;
	background-color: #FEFBF7;
}

/* login/signup page */
.uk-button-text > a, .uk-button-text > a:hover, .uk-button-text > a:active {
	color: black;
	text-decoration: none;
}

.login-button > button {
	background-color: #db3236;
	color: white;
	border-radius: 10px;
}

/* profile page */
.profile-image, .product-image{
	/* border-radius: 100%; */
	width: 300px;
	height: 300px;
	padding: 20px;
}

.history-heading > tr > th {
	text-align: center;
}

/* product page */
.button-icon {
	padding-right: 10px;
}

.text-center {
	text-align: center;
}

.product-info {
	padding-top: 20px;
}

.iti-flag {
	background-image: url("../assets/int-tel-input/img/flags.png");
}

.hide {
	display: none;
}

#valid-msg {
	color: #20c934;
}

#error-msg {
	color: #db3236;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	.iti-flag {
		background-image: url("path/to/flags@2x.png");
	}
}